*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
    height: 700px;
}
.banner-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    border-bottom: 1px solid red;
}
.banner-content{
    width: 50%;
}
.banner-section .content-left{
    padding-right: 50px;
}
.banner-section .content-right{
    padding-left: 50px;
}
.content-left{
    position: relative;
}
.headings{
    padding-left: 30px;
}
.headings::before{
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 5px;
    height: 86px;
    background: #FF5959;
    border-radius: 4px;
}
.headings h1{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    line-height: 1.2;
}
.banner-content img{
    width: 420px;
    margin-top: -35px;
}
.adding-margin{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
}
.banner-content a{
    display: inline-block;
    background-color: #FF5959;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.banner-content p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4em;
}